.App {
  display: flex;
  flex-flow: column wrap;
}
.App > * {
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AppHeader {
  background-color: #282c34;
  min-height: 40vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBar {
  padding: 1ex;
  background-color: #2c3428;
  font-size: calc(10px + 2vmin);
  color: black;
}

.AppAnswer {
  padding: 1em;
  font-size: calc(20px + 2vmin);
  color: black;
}

.AppFooter {
  background-color: #34282c;
  min-height: 2em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1ex;
  color: white;
}

.AppFooter a {
  color: #61dafb;
}

.AppMuddyIcon {
  height: 40vmin;
  pointer-events: none;
  transform: scale(1);
  animation: MuddyIconPulse 2s infinite;
}

@keyframes MuddyIconPulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
